body{
    height: 100%;
    background-color: lime;
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 20vh;
    background-color: #fff;
}
nav{
    width: 30%;
    height: 50px;
    background-color: rebeccapurple;
    float: right;
}
div{
    width: 100%;
    height: 60vh;
    background-color: aqua;
}
aside{
    width: 10%;
    height: 60vh;
    background-color: blue;
    text-align: center;
    float: left;
}
main{
    width: 70px;
    height: 60vh;
    background-color: #b825ac;

}
